@import "vendor/normalize";

pre code{
	color: #586e75;
}
@import "vendor/solarized-dark";
@import "vendor/colors";

@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");

$small: 0.9rem;
$theme: #224770;

body{
	/*background-color: #222;*/
	h1,h2,h3,h4,h5,h6{
		color: $black;
	}
}
.contain-to-grid{ 	
	background-color: $theme;
	nav.top-bar{
	background-color: $theme;
		.top-bar-section a{
			background-color: $theme;
		}
		.top-bar-section ul li>a:hover{
			background-color: $navy;
		}
	}
}
li.name{
	background-color: $theme;
}
.row{
	/*background-color: #222;*/
	color: $black;
	font-family: "Lato", "Helvetica", Helvetica, Arial, sans-serif;
}

/* make lines wrap around */
pre{
	white-space:pre-wrap;
	word-wrap:break-word;
	/*background-color:#181818;*/
	padding: 5px 10px;
	box-sizing: border-box;
}
@media only screen and (min-width: 1024px){
.recent{
	.columns{
		border-right: solid 1px $gray;
		border-top: solid 1px $gray;
	}
	.columns:last-child{
		border-right: none;
	}
}
.topborder{
	border-top: solid 1px $gray;
	margin-top: 1rem;
}
}
.post-title, .move{
	font-family: "Lato", "Helvetica", Helvetica, Arial, sans-serif;
	color: $theme;
	a:link{
		color: $theme;
	}
	a:visited{
		color: $theme;
	}
	a:hover{
		color: $aqua;
	}
}

figcaption{
	font-style: italic;
	font-size: $small;
	line-height: 1.2rem;
	color: $gray;
	#follow-button{
		float: right;
	}
}
.button{
	color: white;
	background-color: $theme;
	@include transition(all 300ms ease-in-out);
}
.button:link{
	color: white;
}
.button:visited{
	color: white;
}
.button:hover{
	color: white;
	background-color: $aqua;
	@include transition(all 300ms ease-in-out);
}
#disqus_thread{
	@include transition(all 300ms ease-in-out);
}
footer{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 5px solid $navy;
	color: white;
	background-color: $theme;
	width: 100%;
	.row, p,h1,h2,h3,h4,h5,h6{
		color: white;
		img{
			margin: 0 5px;
			@include transition(all 200ms ease-in-out);
		}
		a:link{
			color: white;
			text-decoration: underline;
		}
		a:visited{
			color: white;
		}
		a:hover{
			color: $aqua;
			img{
				-webkit-transform: translateY(.1rem);
				transform: translateY(.1rem);
				@include transition(all 200ms ease-in-out);
			}
		}
	}
}