<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | {{ site.name }}</title>
	  <meta name="description" content="{{ site.description }}"/>
    <link rel="stylesheet" href="/css/blog.min.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
	
  </head>
  <body>
	<header>
	<div class="row">
		<div class="large-6 columns">
			<h1 class="site_name">{{ site.name }}</h1>
		</div>
    <div class="large-6 columns">
      <h2>{ Learning and blogging about web development }</h2>
    </div>
	</div>
	</header>
      <!-- Navigation -->
	  <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="/">Home</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="/about">About</a></li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/contact">Contact</a></li>
          </ul>
        </section>
      </nav>
	  </div>
 
    <!-- End Navigation -->