<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="aKbF3GWMIxEpbwS8UXX68bjY5sGbBol7wO3Kj9Bv3CI" />
    <title>{{ page.title }} | {{ site.name }}</title>
	  <meta name="description" content="{{ site.description }}"/>
    <link rel="stylesheet" href="/css/blog.min.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
	
  </head>
  <body>
      <!-- Navigation -->
	  <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="/">John Willard</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <ul class="right">
            {% assign active = page.url | downcase | split : '/' %}
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </section>
      </nav>
	  </div>
    <!-- End Navigation -->
<main>